<header class="flex flex-col items-center justify-center">
  <div class="bg-black w-full p-6 flex items-center justify-center">
    <img ngSrc="/img/svg/logo.svg" alt="Logo icon" width="170" height="170" />
  </div>
  <div class="flex flex-col items-start justify-start max-w-[40%] mt-20">
    <div class="mb-8">
      <h3
        class="uppercase font-bold text-4xl flex flex-col items-start justify-start text-dark-grey mb-4"
      >
        <span>REABERTURA </span>
        <span>SMART FIT</span>
      </h3>
      <div class="bg-dark-grey h-2 w-20"></div>
    </div>
    <p>
      O horário de funcionamento das nossas unidades está seguindo os decretos
      de cada município. Por isso, confira aqui se a sua unidade está aberta e
      as medidas de segurança que estamos seguindo.
    </p>
  </div>
</header>
